// @import url("../../mixins.scss");
@import "../../mixins.scss";
@import "../../variables.scss";

.cont-post{
  @include dflex(row);
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 2.0rem;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;

}
.cont-img{
  @include dflex(row);
  @include allCenter();
  width: 40%;
}
.post-info{
  width: 55%;
  height: 100%;
  @include dflex(column);

}
.cont-img img {
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 0.8rem;
  border: 1px solid gray;
}
.post-text{
  padding: 1.5rem 0rem;
  @include dflex(column);
  row-gap: 2vh;
}
.post-date span{
  display: block;
  color: #8e8c8c;
  font-weight: 600;
}
.post-title{
  text-transform: uppercase;
  color: $navGreen;
}
h4{
  font-size: 30px;
}