@mixin flexColumn {
    display: flex;
    flex-direction: column;
}
@mixin allCenter{
    align-items: center;
    justify-content: center;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
  @include flexColumn;
  @include allCenter();
  position: fixed;
  left: 0vh;
  height: 100vh;
  width: 10rem;
  ul{
    width: 100%;
    padding: 0rem 1rem;
  }
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu a,
.nav-menu a:focus {
  display: flex;
  @include allCenter;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: .4s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}
.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

.nav-menu a,
.nav-menu a:focus {
  width: 56px;
}

.nav-menu a span,
.nav-menu a:focus span {
  display: none;
  color: #fff;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: #fff;
  background: #146356;
}

.nav-menu a:hover span,
.nav-menu .active span,   
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}
  
