@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "./variables.scss";
@import "./mixins.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif !important;
    scroll-behavior: smooth;
}
body{
    background-color: $yellow;
    color: black;
}
a{
    text-decoration: none;
}
// Mobile version
@media (min-width: 200px) {

}

// Tablet version
@media (min-width: 700px) {
    main > section {
        padding: 0rem 5rem;
    }
    .nav-menu{
        display: none;
    }
    .header-img{
        height: 60%;
        width: 100%;
    }
    .header-top{
        width: 100%;
    }
    h2{
        font-size: 30px;
    }
    h4{
        font-size: 20px;
    }
}

// Desktop version
@media (min-width: 1000px) {
    main > section{
        padding: 0rem 10rem;
    }
    .nav-menu{
        width: 10rem;
        display: flex;
    }
    p{
        font-size: 18px;
    }
    h4{
        font-size: 30px;
    }
    .header-img{
        border-radius: 5px;
        width: 40vw;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .header-top{
        height: 95%;
        width: 80%;
        @include dflex(column);
        justify-content: center;
    }
    .header-right{
        width: 60vw;
        height: 100%;
        @include dflex(column);
        align-items: center;
        justify-content: space-between;
        h4{
            padding: 1rem 0rem;
            color: black;
        }
        h4, span{
            font-size: 35px;
            line-height: 1.5;
        }
    }
    h2{
        font-size: 50px;
    }
    h3{
        font-size: 40px;
        text-align: center;
        margin-bottom: 2rem;
        color: $navGreen;
    }
    h4{
      color: $navGreen;
    }
    #contact h3{
      color: whitesmoke;
    }

}



